<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>graduation_design</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>seckill-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-*.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>seckill-dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
   <!-- 验证码 -->
    <servlet>
  	<servlet-name>AuthServlet</servlet-name>
  	<servlet-class>com.etimeci.ssm.util.AuthImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthServlet</servlet-name>
  	<url-pattern>/vcode</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <filter>
    <display-name> AppContextFilter</display-name>
    <filter-name>AppContextFilter</filter-name>
    <filter-class>com.etimeci.ssm.filter.AppContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AppContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.etimeci.ssm.filter.SessionFilter</filter-class>
    <init-param>
      <param-name>notNeedLoginPages</param-name>
      <param-value>,goLogin,goRegister,vcode,goIndexRegister1,loginValidate,register,goResuccess,goSolutionRegister,goAnswerQuestion,getQuestionList,submitAnswerss,goSumitSuccess,validRegister</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
 
</web-app>